@tailwind base;
@tailwind components;
@tailwind utilities;

.hms-container {
	@apply mx-auto w-full max-w-[1200px] px-[15px];
}

.blog_cntt h1 {
	@apply mb-6 text-3xl md:text-4xl lg:text-5xl;
}

.blog_cntt h2,
.blog_cntt h3 {
	@apply mb-3 text-xl md:text-2xl lg:text-3xl;
}

.blog_cntt p {
	@apply mb-2 text-lg md:text-xl;
}

.blog_cntt ul {
	@apply mb-2 list-disc pl-6 text-lg md:text-xl;
}

.blog_cntt ol {
	@apply mb-2  list-decimal pl-6 text-lg md:text-xl;
}

/* Custom NProgress styles */
#nprogress .bar {
	background: #8f0847; /* Change this to your desired color */
}

#nprogress .peg {
	box-shadow:
		0 0 10px #8f0847,
		0 0 5px #8f0847; /* Change this to your desired color */
}

#nprogress .spinner-icon {
	border-top-color: #8f0847; /* Change this to your desired color */
	border-left-color: #8f0847; /* Change this to your desired color */
}
